@{ 
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

@section Navigation {
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Dashboard", "Index", "Home", new { area = "Dashboard" }, null)</li>
                    }
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@

                </ul>
}

@RenderBody()

@section Scripts {
    @RenderSection("scripts", required: false);
}