@model fi.retorch.com.Areas.Configuration.Models.UserListModel

@{
    ViewBag.Title = "Site Users";
}

<h2>Site Users</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Accounts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Transactions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Reminders)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Categories)
        </th>
        @*<th></th>*@
    </tr>

@foreach (var item in Model.Items) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accounts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transactions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reminders)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categories)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>*@
    </tr>
}

</table>
