@model fi.retorch.com.Areas.Dashboard.Models.ReminderList
@using PagedList.Mvc;
@{
    ViewBag.Title = "Reminders";

    string SelectOptionText = "-- {0} --";
}

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('.datepicker').datepicker({
                orientation: "bottom auto",
                autoclose: true
            });

            $('#reset').click(function () {
                window.location = window.location.href.split('?')[0] + '?reset=true';
            });
        });
    </script>
}

<h2>Reminders</h2>

<p>
    @Html.ActionLink("Add Reminder", "Create", new { c = "Reminders" })
</p>

<div class="filters">
    @using (Html.BeginForm("Index", "Reminders", FormMethod.Post))
    {
        <div class="filter">
            @Html.EditorFor(model => model.Settings.StartDate, new { htmlAttributes = new { @class = "form-control datepicker", placeholder = Html.DisplayNameFor(model => model.Settings.StartDate) } })
        </div>
        <div class="filter">
            @Html.EditorFor(model => model.Settings.EndDate, new { htmlAttributes = new { @class = "form-control datepicker", placeholder = Html.DisplayNameFor(model => model.Settings.EndDate) } })
        </div>
        <div class="filter">
            @Html.DropDownListFor(model => model.Settings.AccountTypeId, (SelectList)ViewBag.AccountTypes, String.Format(SelectOptionText, Html.DisplayNameFor(model => model.Settings.AccountTypeId)), new { @class = "form-control" })
        </div>
        <div class="filter">
            @Html.DropDownListFor(model => model.Settings.AccountId, (SelectList)ViewBag.Accounts, String.Format(SelectOptionText, Html.DisplayNameFor(model => model.Settings.AccountId)), new { @class = "form-control" })
        </div>
        <div class="filter">
            @Html.DropDownListFor(model => model.Settings.CategoryId, (SelectList)ViewBag.Categories, String.Format(SelectOptionText, Html.DisplayNameFor(model => model.Settings.CategoryId)), new { @class = "form-control" })
        </div>
        <div class="filter">
            @Html.TextBox("Settings.Search", ViewBag.Filter as string, new { @class = "form-control", placeholder = "Search Text" })
        </div>
        <div class="filter">
            <input type="submit" value="Filter" class="btn btn-default" />
            <input type="button" value="Reset" class="btn" id="reset" />
        </div>
    }
    <div class="clearfix"></div>
</div>

<div class="paging">
    Page @(Model.PagedItems.PageCount < Model.PagedItems.PageNumber ? 0 : Model.PagedItems.PageNumber) of @Model.PagedItems.PageCount

    @Html.PagedListPager(Model.PagedItems, page => Url.Action("Index",
    new
    {
        page
    }), new PagedListRenderOptions
    {
        MaximumPageNumbersToDisplay = 20
    })
    @*new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@
</div>

<table class="reminders table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PagedItems.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PagedItems.FirstOrDefault().Amount)
            </th>
            <th class="hide">
                @Html.DisplayNameFor(model => model.PagedItems.FirstOrDefault().Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PagedItems.FirstOrDefault().NextDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PagedItems.FirstOrDefault().LastDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PagedItems.FirstOrDefault().AccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PagedItems.FirstOrDefault().CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PagedItems.FirstOrDefault().ReminderScheduleId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PagedItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="@(item.Amount < 0 ? "negative" : "")">
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td class="hide">
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NextDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReminderScheduleName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id, c = "Reminders" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id, c = "Reminders" })
                </td>
            </tr>
        }
    </tbody>
    <tfoot>

    </tfoot>
</table>
